*{
    margin: 0;
    padding: 0;
}
.bg-primary{
    background-color: var(--pink) !important;
}
.text-primary{
    color: var(--pink) !important;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    height: 90px;
}
.links .fa{
    font-size: 16px;
}
.links .fa:hover{
    color: var(--pink);
}
.collapse.show{
    margin-top: 1.5rem;
    box-shadow: 0 3px 9px 3px rgba(0,0,0.0.1);
}
.navbar-brand img{
    height: 40px;
    width: auto;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink) !important;
}
.nav-item{
    margin: 0 5px;
    font-size: 1rem;
}